<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Core Quartz Scheduler -->
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
        <!-- Set the key of an ApplicationContext reference to expose in the SchedulerContext -->
        <property name="applicationContextSchedulerContextKey" value="applicationContext"/>
        <property name="overwriteExistingJobs" value="false"/>
        <property name="autoStartup" value="false"/>
        <property name="startupDelay" value="20"/>
        <property name="triggers">
            <list>
                <ref bean="exampleTrigger"/>
            </list>
        </property>
        <property name="jobDetails">
            <list>
                <ref bean="exampleJob"/>
            </list>
        </property>
    </bean>

    <bean id="exampleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="exampleJob"/>
        <property name="name" value="trigger1"/>
        <property name="group" value="triggerGroup1"/>
        <property name="startDelay" value="20"/>
        <property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_DO_NOTHING"/>
        <!--<property name="misfireInstructionName" value="MISFIRE_INSTRUCTION_FIRE_ONCE_NOW"/>-->
        <property name="cronExpression" value="0/10 * * * * ?"/>
    </bean>

    <bean name="exampleJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="sun.quartz.monitor.tutorial.example5.ExampleJob"/>
        <property name="durability" value="true"/>
        <property name="requestsRecovery" value="true"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="timeout" value="5"/>
            </map>
        </property>
        <property name="name" value="job1"/>
        <property name="group" value="group1"/>
     </bean>


</beans>